.piece {
  fill-opacity: 0.6;
  pointer-events: auto;
}
.tile {
  fill: #dea550;
  fill-opacity: 0.6;
}
.tile:hover {
  fill-opacity: 0.7;
}
.board {
  pointer-events: none;
}
.mark {
  fill: #d69a3f;
  fill-opacity: 0.8;
}
.mark:hover {
  fill-opacity: 1;
}